.lamport-simulator {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.input-group {
  margin-bottom: 20px;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  /* border-radius: 10px; */
  border-width: 1px;
}

button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
}

button:hover {
  background-color: #45a049;
}

.send-button {
  margin-bottom: 20px;
}

.process-table {
  width: 100%;
  border-collapse: collapse;
}

.process-table th, .process-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.process-table th {
  background-color: #f2f2f2;
}